*{
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(#e6e6e6, goldenrod);
}
h2{
  color: rgb(37,12,119);
}
label{
  color: rgb(37,12,119);
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: goldenrod; 
  padding: 1.5rem 3.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

