<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Alert</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1>{{ IO }}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Calamity</th>
            <th>Food/Water</th>
            <th>Medicine</th>
            <th>Clothing and Cover</th>
            <th>Note</th>
        </tr>
        {% for row in op %}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
