<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Alert</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1>{{ IO }}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Calamity</th>
            <th>Food/Water</th>
            <th>Medicine</th>
            <th>Clothing and Cover</th>
            <th>Note</th>
        </tr>
        <tr>
            <td>{{Name}}</td>
            <td>{{Lat}}</td>
            <td>{{Lons}}</td>
            <td>{{Calamity}}</td>
            <td>{{FW}}</td>
            <td>{{Med}}</td>
            <td>{{Cloth}}</td>
            <td>{{Note}}</td>
        </tr>
    </table>
</body>
</html>
