<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Guidelines</title>
    <!--link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"-->

</head>
<body>
    <h1>Your query has been submitted to the respective authorities.</h1>

    <h2>Alert Raiser Name:- {{ Name }}</h2>
    <h2>Required Food and Water Supply:- {{ FW }}</h2>
    <h2>Required Medicine Supply:- {{ Med }}</h2>
    <h2>Required Clothing and Cover Supply:- {{ Cloth }}</h2>
    <h2>Provided note:- {{ Note }}</h2>
</body>
</html>